<div class="jumbotron">
  <h2>Handiman API</h2>
  <p class="lead">You have found your way to the Handiman API landing page.</br>
  For information on how to use the API please see the documentation on our <a href=https://github.com/mfunaro/handiman/wiki>github wiki</a>.
  </p>
</div>

<div class="row marketing">
</div>
